<%= link "New Client", to: client_path(@conn, :new), class: "btn btn-success" %>

<h2>Clients</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for client <- @clients do %>
    <tr>
      <td><%= link(client.name, to: client_path(@conn, :show, client.id)) %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>
