<h2>Listing Client</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for client <- @client do %>
    <tr>
      <td><%= link(client.name, to: client_path(@conn, :show, client.id)) %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Client", to: client_path(@conn, :new) %></span>
