<%= link {:safe, "&larr; Back to Clients"}, to: client_path(@conn, :index) %>

<h2>
  <%= @client.name %>
  <%= link "Edit", to: client_path(@conn, :edit, @client), class: "btn btn-success"  %>
</h2>

<ul>
  <strong>Projects:</strong>
  <%= for project <- @client.projects do %>
    <li>
      <%= link(project.name, to: project_path(@conn, :show, project.id)) %>
    </li>
  <% end%>
</ul>
