<h2><%= @client.name %></h2>

<ul>
  <strong>Projects:</strong>
  <li>

  </li>

</ul>

<span><%= link "Edit", to: client_path(@conn, :edit, @client) %></span>
<span><%= link "Back", to: client_path(@conn, :index) %></span>
