<%= link "New Person", to: person_path(@conn, :new), class: "btn btn-success" %>

<h2>People</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for person <- @people do %>
    <tr>
      <td><%= link(person.name, to: person_path(@conn, :show, person.slug)) %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>
