<h2>Listing Person</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for person <- @person do %>
    <tr>
      <td><%= link(person.name, to: person_path(@conn, :show, person.id)) %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Person", to: person_path(@conn, :new) %></span>
