<h2>Show Person</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @person.name %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @person.slug %>
  </li>

</ul>

<span><%= link "Edit", to: person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: person_path(@conn, :index) %></span>
