<h2>Edit Project</h2>

<%=
  render "form.html",
    changeset: @changeset,
    clients: @clients,
    action: project_path(@conn, :update, @project),
    project_cancel_path: project_path(@conn, :index)
%>
