<%= link "New Project", to: project_path(@conn, :new), class: "btn btn-success" %>

<h2>Projects</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Project</th>
    </tr>
  </thead>
  <tbody>
    <%= for project <- @projects do %>
      <tr>
        <td><%= project.client.name %></td>
        <td><%= link(project.name, to: project_path(@conn, :show, project.slug)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
