<h2>Projects</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for project <- @project do %>
    <tr>
      <td><%= link(project.name, to: project_path(@conn, :show, project.id)) %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Project", to: project_path(@conn, :new) %></span>
