<%= link {:safe, "&larr; Back to Projects"}, to: project_path(@conn, :index) %>

<h2>
  <%= @project.name %>
  <%= link "Edit", to: project_path(@conn, :edit, @project.slug), class: "btn btn-success" %>
</h2>

<%= render Timerobot.Web.LayoutView, "_project_breakdown.html", conn: @conn, data: @data, project: @project %>
