<h2>New Entry</h2>

<%=
  render "form.html",
    changeset: @changeset,
    people: @people,
    projects: @projects,
    action: entry_path(@conn, :create)
%>

<span>
  <%= link "Back", to: entry_path(@conn, :index) %>
</span>
