<h2>Client Hours Report</h2>

<%= render "form.html",
  changeset: @changeset,
  action: client_hours_report_path(@conn, :create),
  # client_cancel_path: client_path(@conn, :index)
  client_cancel_path: "also todo",
  dates: @dates
%>
